<footer>
	<div class="row ig-nomargin">
		<div class="col-12 col-sm-6 col-md-3">
			<ul>
				<li class="headerli"><h4 class="ig-primary__text">Pages</h4></li>
				<li><a href="#">Super mega long link to the category</a></li>
				<li><a href="#">Policies</a></li>
				<li><a href="#">Policies</a></li>
				<li><a href="#">Policies</a></li>
				<li><a href="#">Policies</a></li>
				<li><a href="#">Policies</a></li>
			</ul>
		</div>
		<div class="col-12 col-sm-6 col-md-3">
			<ul>
				<li class="headerli"><h4 class="ig-primary__text">Pages</h4></li>
				<li><a href="#">Super mega long link to the category</a></li>
				<li><a href="#">Policies</a></li>
				<li><a href="#">Policies</a></li>
				<li><a href="#">Policies</a></li>
				<li><a href="#">Policies</a></li>
				<li><a href="#">Policies</a></li>
			</ul>
		</div>
		<div class="col-12 col-sm-6 col-md-3">
			<ul>
				<li class="headerli"><h4 class="ig-primary__text">Pages</h4></li>
				<li><a href="#">Super mega long link to the category</a></li>
				<li><a href="#">Policies</a></li>
				<li><a href="#">Policies</a></li>
				<li><a href="#">Policies</a></li>
				<li><a href="#">Policies</a></li>
				<li><a href="#">Policies</a></li>
			</ul>
		</div>
		<div class="col-12 col-sm-6 col-md-3 ig-footer--last-column">
			<a href="/" class="footer_main_logo"><img alt="main logo white for footer" src="/img/logo.png"></a>
			<ul>
				<li class="footer_phones"><a href="#">38093123123123</a></li>
				<li class="footer_email">
					<a href="mailto:delasy@gmail.com">delasy@gmail.com</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer-lang-bar">
		<nav>
			<select id="footer_curr_bar" class="ig-sh2">
				<option disabled selected>USD</option>
			</select>
			<select id="footer_lang_bar" class="ig-sh2"></select>
			<button class="ig-btn ig-btn--sh ig-btn--primary" data-igload="igripple" id="footer_toup_button">To up</button>
			<div class="clearfix"></div>
		</nav>
	</div>
</footer>
<script>ig.components.autoload();<?=scope.displayCookieToS?></script>
