<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><?=scope.title?></title>
	<link rel="shortcut icon" href="/img/logo.png"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Material+Icons" rel="stylesheet">
	<style><? include ../../client/css/index.yiv ?></style>
	<script>var T = <?=JSON.stringify(scope.T)?></script>
	<script><? include ../../client/js/index.viy ?></script>
</head>
<body id="body">
<? include header.html ?>
<? include drawer.html ?>
