<div id="igoliaPreHeader" class="pre-header pre-header--water mdc-theme--primary-bg"></div>
<div class="mdc-form">
	<div class="container mdc-layout-grid__inner">
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone mdc-card mdc-form--card">
			<h1 class="mdc-typography--display2">Sign up</h1>

			<form id="signup_form" autocomplete="off">
				<div id="signup_step0">


					<div class="mdc-textfield mdc-textfield--long" data-mdc-auto-init="MDCTextfield">
						<input class="mdc-textfield__input" id="sulogin" type="text" aria-controls="hsulogin" value="d12dlk1jm2"/>
						<label class="mdc-textfield__label" for="sulogin">Login...</label>
					</div>
					<span class="mdc-textfield-helptext mdc-textfield-helptext--validation-msg" id="hsulogin"></span>

					<div class="mdc-textfield mdc-textfield--long" data-mdc-auto-init="MDCTextfield">
						<input class="mdc-textfield__input" id="supass" type="password" aria-controls="hsupass" value="d12dlk1jm2"/>
						<label class="mdc-textfield__label" for="supass">Password...</label>
					</div>
					<span class="mdc-textfield-helptext mdc-textfield-helptext--validation-msg" id="hsupass"></span>

					<div class="mdc-textfield mdc-textfield--long" data-mdc-auto-init="MDCTextfield">
						<input class="mdc-textfield__input" id="supassr" type="password" aria-controls="hsupassr" value="d12dlk1jm2"/>
						<label class="mdc-textfield__label" for="supassr">Password...</label>
					</div>
					<span class="mdc-textfield-helptext mdc-textfield-helptext--validation-msg" id="hsupassr"></span>


				</div>
				<div id="signup_step1" style="display:none;">


					<div class="mdc-textfield mdc-textfield--long" data-mdc-auto-init="MDCTextfield">
						<input class="mdc-textfield__input" id="suname" type="text" aria-controls="hsuname" value="Name"/>
						<label class="mdc-textfield__label" for="suname">Name...</label>
					</div>
					<span class="mdc-textfield-helptext mdc-textfield-helptext--validation-msg" id="hsuname"></span>

					<div class="mdc-textfield mdc-textfield--long" data-mdc-auto-init="MDCTextfield">
						<input class="mdc-textfield__input" id="susurname" type="text" aria-controls="hsusurname" value="iv"/>
						<label class="mdc-textfield__label" for="susurname">Surname...</label>
					</div>
					<span class="mdc-textfield-helptext mdc-textfield-helptext--validation-msg" id="hsusurname"></span>

					<div class="mdc-textfield mdc-textfield--long" data-mdc-auto-init="MDCTextfield">
						<input class="mdc-textfield__input" id="suemail" type="email" aria-controls="hsuemail" value="2@gma.com"/>
						<label class="mdc-textfield__label" for="suemail">Email...</label>
					</div>
					<span class="mdc-textfield-helptext mdc-textfield-helptext--validation-msg" id="hsuemail"></span>

					<div class="mdc-textfield mdc-textfield--long" data-mdc-auto-init="MDCTextfield">
						<input class="mdc-textfield__input" id="suphone" type="number" aria-controls="hsuphone" value="380682218268"/>
						<label class="mdc-textfield__label" for="suphone">Phone...</label>
					</div>
					<span class="mdc-textfield-helptext mdc-textfield-helptext--validation-msg" id="hsuphone"></span>


					<h2 class="mdc-typography--headline sign-form--header">Gender</h2>


<div class="font0">
	<div class="mdc-form-field mdc-textfield--middle">
		<div class="mdc-radio" data-mdc-auto-init="MDCRadio">
			<input class="mdc-radio__native-control" type="radio" id="radio-1" name="sugender" checked="checked">
			<div class="mdc-radio__background">
				<div class="mdc-radio__outer-circle"></div>
				<div class="mdc-radio__inner-circle"></div>
			</div>
		</div>
		<label id="radio-1-label" for="radio-1">Female</label>
	</div>

	<div class="mdc-form-field mdc-textfield--middle">
		<div class="mdc-radio" data-mdc-auto-init="MDCRadio">
			<input class="mdc-radio__native-control" type="radio" id="radio-2" name="sugender">
			<div class="mdc-radio__background">
				<div class="mdc-radio__outer-circle"></div>
				<div class="mdc-radio__inner-circle"></div>
			</div>
		</div>
		<label id="radio-2-label" for="radio-2">Male</label>
	</div>
</div>


					<h2 class="mdc-typography--headline sign-form--header --date-of-birth">Date of birth</h2>


<div class="font0">
					<div class="mdc-textfield mdc-textfield--little" data-mdc-auto-init="MDCTextfield">
						<input class="mdc-textfield__input" id="sudd" type="number" aria-controls="hsudd"/>
						<label class="mdc-textfield__label" for="sudd">DD</label>
					</div>

					<div class="mdc-textfield mdc-textfield--little" data-mdc-auto-init="MDCTextfield">
						<input class="mdc-textfield__input" id="summ" type="number" aria-controls="hsumm"/>
						<label class="mdc-textfield__label" for="summ">MM</label>
					</div>

					<div class="mdc-textfield mdc-textfield--little" data-mdc-auto-init="MDCTextfield">
						<input class="mdc-textfield__input" id="suyyyy" type="number" aria-controls="hsuyyyy"/>
						<label class="mdc-textfield__label" for="suyyyy">YYYY</label>
					</div>
					<span class="mdc-textfield-helptext mdc-textfield-helptext--validation-msg" id="hsudd"></span>
					<span class="mdc-textfield-helptext mdc-textfield-helptext--validation-msg" id="hsumm"></span>
					<span class="mdc-textfield-helptext mdc-textfield-helptext--validation-msg" id="hsuyyyy"></span>
</div>

<div class="select-manager mdc-sign--country__bar">
<div class="mdc-select mdc-textfield--long" role="listbox" tabindex="0">
  <span class="mdc-select__selected-text">What is your country?</span>
  <div class="mdc-simple-menu mdc-select__menu">
    <ul class="mdc-list mdc-simple-menu__items"><%

	for(var i=0;i<countries.length;i++){
		%><li class="mdc-list-item" role="option" id="<%-countries[i].id%>"><%-countries[i].country_en%></li><%
	}

%></ul>
  </div>
</div>
<select id="sucountry" class="mdc-select">
	<option value="0"></option><%

	for(var i=0;i<countries.length;i++){
		%><option value="<%-countries[i].id%>"><%-countries[i].country_en%></option><%
	}

%></select>
<span class="mdc-textfield-helptext mdc-textfield-helptext--validation-msg" id="hsucountry"></span>
</div>

<div class="checkbox-manager">
<div class="mdc-form-field">
	<div class="mdc-checkbox" data-mdc-auto-init="MDCCheckbox">
		<input type="hidden" name="surules" value="0"/>
		<input type="checkbox" id="surules" name="surules" value="1" class="mdc-checkbox__native-control"/>
		<div class="mdc-checkbox__background">
			<svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
				<path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
			</svg>
			<div class="mdc-checkbox__mixedmark"></div>
		</div>
	</div>
	<label for="surules">Am agree with <a target="_blank" href="#">rules</a></label>
</div>
</div>
<span class="mdc-textfield-helptext mdc-textfield-helptext--validation-msg" id="hsurules"></span>

				</div>
				<div class="mdc-textfield mdc-textfield--submit">
					<button id="next_signup" data-mdc-auto-init="MDCRipple" class="mdc-button mdc-button--raised mdc-button--primary">NEXT STEP</button>
				</div>
			</form>
		</div>
	</div>
</div>
